header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.tituloIndex {
  color: #908d88;
  font-family: "Times New Roman", Times, serif;
  margin: 2%;
}

header {
  border-block-end-style: double;
  border-color: rgba(116, 112, 112, 0.904);
  background-color: beige;
}
header .headerImg {
  width: 25px;
  height: 25px;
  padding: 25px 5px 5px 5px;
}
header .headerImg .david {
  background-color: rgba(238, 221, 202, 0.863);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 300%;
}
header .navbarList {
  display: flex;
  justify-content: space-evenly;
}
header .navbarList .navBar {
  width: 55vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-width: 5px;
  padding: 10px;
  border-color: #e7d1b4;
  border-radius: 20px;
  margin: 10px;
}
header .navbarList .navBar .enlaceNav {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  margin: 2%;
}
header .navbarList .navBar .enlaceNav li {
  list-style: none;
  padding: 10px;
  color: rgba(116, 112, 112, 0.904);
}
header .navbarList .navBar .enlaceNav li:hover {
  background-color: rgba(238, 221, 202, 0.863);
  transition: all 0.2s;
  border-radius: 8px;
  transform: scale(1.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
header .navbarLogos {
  margin-right: 5%;
  padding-top: 25px;
}
header .navbarLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .navbarLogos .logos {
  font-size: 20px;
  padding: 5px;
}

.carrusel {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carrusel .carruselContainer {
  width: 80%;
  height: 80%;
}

@media (max-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  header .navbarList {
    padding-left: 15%;
  }

  .logos {
    font-size: 18px;
    padding: 5px;
  }
}
.tituloFooter {
  padding: 30px 0px 30px 60px;
  color: #908d88;
  font-family: "Times New Roman", Times, serif;
  background-color: #e7d1b4;
  border-top-width: 1px;
  border-top-style: solid;
}

footer {
  background-color: #e7d1b4;
}
footer .col {
  padding-left: 5%;
}
footer .listaRedes {
  display: flex;
  justify-content: center;
}
footer .listaRedes li {
  margin: 10px;
  list-style: none;
}

main .tituloNoticias {
  color: #908d88;
  font-family: "Times New Roman", Times, serif;
  margin: 5%;
}
main .noticias {
  margin: 5%;
}
main .noticias .col {
  padding-left: 10px;
  margin: 1%;
}
main .noticias .col .anchoTarjeta {
  width: 18rem;
}
main .noticias .col .anchoTarjeta .botonNoticias {
  color: #212529;
  border-color: #212529;
}
main .noticias .col .anchoTarjeta .botonNoticias:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
main .noticias .col .cardImg {
  width: 285px;
  height: 250px;
}

@media (max-width: 717px) {
  .noticias {
    display: grid;
    grid-template-columns: 1fr;
  }
  .noticias .col {
    display: flex;
    justify-content: center;
  }
  .noticias .col .cardImg {
    width: 250px;
    height: 200px;
  }
}
.tituloEventos {
  padding: 20px;
  margin: 0%;
  color: #908d88;
  font-family: "Times New Roman", Times, serif;
}

.listaExpo {
  display: flex;
  justify-content: center;
  margin: 2%;
}
.listaExpo .Eventos {
  border-color: #e0ddd8;
  border-style: solid;
  border-width: 3px;
  width: 450px;
  padding: 10px;
  margin: 10px;
}
.listaExpo .Eventos .tituloEvent {
  color: rgba(116, 112, 112, 0.904);
  font-family: "Times New Roman", Times, serif;
}
.listaExpo .Eventos .info {
  display: flex;
  border-width: 2px;
  margin-bottom: 50px;
}
.listaExpo .Eventos .info .eventoImagen {
  display: flex;
  justify-content: center;
}
.listaExpo .Eventos .info .eventoImagen .porcelana {
  width: 90px;
  height: 90px;
}
.listaExpo .Eventos .info .parrafoEvento {
  text-align: center;
}
.listaExpo .Eventos .info .botonEventos {
  color: #6c757d;
  border-color: #6c757d;
}

@media (max-width: 938px) {
  .listaExpo {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
  .listaExpo .Eventos {
    justify-self: center;
  }
}
@media (max-width: 500px) {
  .listaExpo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .listaExpo .Eventos {
    width: 250px;
    height: 300px;
  }
  .listaExpo .Eventos .info {
    flex-direction: column;
  }
  .listaExpo .Eventos .info .eventoImagen {
    display: flex;
    justify-content: center;
  }
  .listaExpo .Eventos .info .eventoBoton {
    display: contents;
  }
}
.tituloContactos {
  margin: 2%;
  color: #908d88;
  font-family: "Times New Roman", Times, serif;
}

.barraContactos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.barraContactos .listaunoContactos {
  display: grid;
  justify-content: center;
}
.barraContactos .listaunoContactos .tituloLista {
  color: rgba(116, 112, 112, 0.904);
  font-family: "Times New Roman", Times, serif;
  margin-top: 5%;
}
.barraContactos .listaunoContactos .listaInfo {
  color: rgba(116, 112, 112, 0.904);
  padding: 30px 0px 30px 0px;
  font-family: "Times New Roman", Times, serif;
}
.barraContactos .listaunoContactos .contactosDos {
  padding: 30px;
}
.barraContactos .listaunoContactos .listaMensaje {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  width: 50%;
}
.barraContactos .listaunoContactos .botonContacto {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

@media (max-width: 760px) {
  .barraContactos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .barraContactos .listadosContactos {
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .barraContactos {
    display: grid;
  }
  .barraContactos .comentario {
    width: 250px;
  }
}
.tituloBoletos {
  color: #908d88;
  font-family: "Times New Roman", Times, serif;
}

.tituloHorario {
  color: rgba(116, 112, 112, 0.904);
  font-family: "Times New Roman", Times, serif;
}

.listaBoletos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}
.listaBoletos .listahorarioPrecio {
  border-color: #e0ddd8;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
}
.listaBoletos .listahorarioPrecio .tituloPrecio {
  color: rgba(116, 112, 112, 0.904);
  font-family: "Times New Roman", Times, serif;
}
.listaBoletos .listahorarioPrecio .tituloPrecio .tituloHorario {
  color: rgba(116, 112, 112, 0.904);
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 760px) {
  .listaBoletos {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .listaBoletos {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    align-items: center;
  }
}
.parrafoObras {
  padding: 30px;
  color: #908d88;
  font-family: "Times New Roman", Times, serif;
}

.obras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.obras .containerObras {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px 15px;
}
.obras .containerObras figure {
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}
.obras .containerObras figure:hover {
  box-shadow: 20px 15px 25px #323b5583;
}
.obras .containerObras figure:hover .txt {
  opacity: 1;
  visibility: visible;
}
.obras .containerObras figure img {
  height: 400px;
  width: 350px;
  transition: all 500ms ease-out;
}
.obras .containerObras figure .txt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(156, 157, 218, 0.603);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.obras .containerObras figure .txt p {
  margin: 40%;
  transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}

@media (max-width: 1300px) {
  .obras {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .obras {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  figure {
    height: 300px;
    width: 280px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

/*# sourceMappingURL=style.css.map */
