header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header .headerImg {
  width: 25px;
  height: 25px;
}
header .headerImg .david {
  background-color: rgba(245, 190, 119, 0.685);
  width: 3.75rem;
  height: 3.75rem;
}
header .navbarList {
  display: flex;
  justify-content: space-evenly;
}
header .navbarList .navBar {
  width: 55vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-style: double solid solid solid;
  border-width: 5px;
  padding: 10px;
  border-color: #e7d1b4;
  border-radius: 20px;
  margin: 5px;
}
header .navbarList .navBar .enlaceNav {
  text-decoration: none;
}
header .navbarList .navBar .enlaceNav li {
  list-style: none;
  padding: 10px;
  color: rgba(116, 112, 112, 0.904);
}
header .navbarList .navBar .enlaceNav li:hover {
  background-color: rgba(238, 221, 202, 0.863);
  transition: all 0.5s;
  border-radius: 8px;
  transform: scale(1.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
header .navbarLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .navbarLogos .logos {
  font-size: 20px;
  padding: 5px;
}

.carrusel {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carrusel .carruselContainer {
  width: 80%;
  height: 80%;
}

@media (max-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  header .navbarList {
    padding-left: 15%;
  }

  .logos {
    font-size: 18px;
    padding: 5px;
  }
}
.tituloFooter {
  margin: 0%;
  padding: 30px 0px 30px 15px;
}

footer .listaRedes {
  display: flex;
}
footer .listaRedes li {
  margin: 10px;
  list-style: none;
}

main .tituloNoticias {
  margin: 0px;
  padding: 30px;
}
main .col {
  padding-left: 10px;
}
main .col .card-img-top {
  width: 285px;
  height: 250px;
}

.tituloEventos {
  padding: 20px;
  margin: 0%;
}

.listaExpo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.listaExpo .Eventos {
  border-color: #e0ddd8;
  border-style: solid;
  border-width: 1px;
  width: 450px;
  padding: 10px;
  margin: 10px;
}
.listaExpo .Eventos .info {
  display: flex;
  border-width: 2px;
  margin-bottom: 50px;
}
.listaExpo .Eventos .info .eventoImagen {
  display: flex;
  justify-content: center;
}
.listaExpo .Eventos .info .eventoImagen .porcelana {
  width: 90px;
  height: 90px;
}
.listaExpo .Eventos .info .eventoImagen .porcelana .parrafoEvento {
  text-align: center;
}

@media (max-width: 934px) {
  .Eventos {
    justify-self: center;
  }
}
@media (max-width: 500px) {
  .listaExpo {
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .listaExpo .Eventos {
    width: 250px;
    height: 300px;
  }
  .listaExpo .Eventos .info {
    flex-direction: column;
  }
  .listaExpo .Eventos .info .eventoImagen {
    display: flex;
    justify-content: center;
  }
  .listaExpo .Eventos .info .eventoImagen .btn-outline-danger {
    display: flex;
    justify-content: center;
  }
}
.tituloContactos {
  padding: 25px 0px 25px 0px;
  margin: 0%;
}

.barraContactos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.barraContactos .contactosDos {
  padding: 30px;
}

@media (max-width: 760px) {
  .barraContactos {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .barraContactos {
    display: grid;
  }
  .barraContactos .contactos {
    width: 250px;
  }
  .barraContactos .contactos .listadosContactos {
    padding: 10px;
  }
}
.tituloBoletos {
  margin: 0%;
}

.listaBoletos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}
.listaBoletos .listahorarioPrecio {
  border-color: #e0ddd8;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 900px) {
  .listahorarioPrecio {
    width: 250px;
  }
}
@media (max-width: 760px) {
  .listaBoletos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .listaBoletos .listahorarioPrecio {
    justify-self: center;
  }
}
@media (max-width: 500px) {
  .listaBoletos {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    align-items: center;
  }
}
.parrafoObras {
  padding: 30px;
}

.obras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.obras .containerObras {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px 15px;
}
.obras .containerObras figure {
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}
.obras .containerObras figure:hover {
  box-shadow: 20px 15px 25px #323b5583;
}
.obras .containerObras figure:hover .txt {
  opacity: 1;
  visibility: visible;
}
.obras .containerObras figure img {
  height: 400px;
  width: 350px;
  transition: all 500ms ease-out;
}
.obras .containerObras figure .txt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(156, 157, 218, 0.603);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.obras .containerObras figure .txt p {
  margin: 150px;
  transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

/* contactos */
/* fin de contactos */
/* eventos */
/* fin de eventos */
/* Boletos */
/* fin de Boletos */
/* obras */
/* fin de obras */
/* Titulos */
h1 {
  color: #f5be77;
  font-family: "Abril Fatface", cursive;
}

h2 {
  color: #f5be77;
  font-family: "Abril Fatface", cursive;
}

h3 {
  color: #f7bb6e;
  font-family: "Abril Fatface", cursive;
}

h4 {
  color: #f7bb6e;
  font-family: "Abril Fatface", cursive;
}

h5 {
  color: #f7bb6e;
  font-family: "Abril Fatface", cursive;
  padding: 30px 0px 30px 0px;
}

@media (max-width: 900px) {
  .footer {
    background-color: darksalmon;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .contenedorNoticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .footer {
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
  }

  .contenedorNoticias {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footerLogo {
    display: flex;
    justify-content: flex-start;
  }

  .listaRedes {
    padding: 30px 0px 30px;
  }

  .gmap_canvas {
    display: flex;
    align-items: flex-end;
    width: 300px;
  }

  .footerTexto {
    padding-left: 10px;
    font-size: 30px;
    height: 100px;
    width: 25%;
  }

  .containerContactos {
    display: grid;
    grid-template-columns: 1fr;
  }

  .barraContactos {
    display: grid;
  }

  .listadosContactos {
    padding: 10px;
  }

  .contactos {
    width: 250px;
  }

  .comentario {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
