// @import "../base/variables";
// @import "../component/header";
// @import "../component/footer";
// @import "../component/noticias";
// @import "../base/maps";
// @import "../base/extends";
// @import "../base/mixin";

@import "../base/variables";
@import "../components/header";
@import "../components/footer";
@import "../components/noticias";



 
 /* contactos */

.barraContactos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;

 }


 .tituloContactos{
    
     padding: 25px 0px 25px 0px;
     margin: 0%;
 }



 .contactosDos{
     padding: 30px;
 }

 
 
/* fin de contactos */



/* eventos */

.tituloEventos{
  padding: 20px;
  
  margin: 0%;
}

.parrafoEventos{
  
  padding: 30px;

}

.listaExpo{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.Eventos{
  border-color: rgb(224, 221, 216);
  border-style:solid;
  border-width: 1px;
  width: 450px;
  padding: 10px;
  margin: 10px;
}

.btn-outline-danger {
  margin: 0px 0px 0px 12px;
  
}

.info{
  display: flex;
  
  border-width: 2px;
  
  margin-bottom: 50px;
}

.porcelana{
  width: 90px;
  height: 90px;
}

.Eventos p{
  
  text-align:center;
}

/* fin de eventos */




/* Boletos */

.tituloBoletos{
  margin: 0%;
  
}

.listaBoletos{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  padding: 30px;
}


.listaUno {
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  margin-left: 10px;
 }

 .listahorarioPrecio {
  border-color: rgb(224, 221, 216);
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
 }

 

/* fin de Boletos */




/* obras */

.obras{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.parrafoObras{
 
  padding: 30px;
}

.containerObras{
 
  padding: 30px 15px;
}


.containerObras img{
  height:400px ;
  width: 350px;
}

.containerObras{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.containerObras figure{
  position: relative;
  
  overflow: hidden;
  border-radius: 100px;
  
}

.containerObras figure img{
 
  transition: all 500ms ease-out;
  
}

.containerObras figure .txt{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(156, 157, 218, 0.603);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  
  
}

.containerObras figure:hover{
  box-shadow: 20px 15px 25px
  #323b5583;
  
  
}

.containerObras figure:hover > .txt{
  opacity: 1;
  visibility: visible;
  
}

.containerObras figure .txt p{
  margin: 150px;
  transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out ;
  -o-transition: all 500ms ease-out; 
  -webkit-transition: all 500ms ease-out; 
}


/* fin de obras */

/* Titulos */

h1 {
  color: rgb(245, 190, 119);
  font-family: 'Abril Fatface', cursive;
}

h2{
  color: rgb(245, 190, 119);
  font-family: 'Abril Fatface', cursive;
}

h3 {
  color: rgb(247, 187, 110);
   font-family: 'Abril Fatface', cursive;
}
h4 {
  color:rgb(247, 187, 110) ;
   font-family: 'Abril Fatface', cursive;
}

h5 {
  color:rgb(247, 187, 110);
   font-family: 'Abril Fatface', cursive;
   padding: 30px 0px 30px 0px
}



@media (max-width: 1300px){
  .obras {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      
  }
}


@media (max-width: 934px){
  .listaExpo{
      display: grid;
       grid-template-columns: 1fr ;
      align-content: center;   
  }

  .Eventos{
      justify-self: center;
  }


  
}

@media (max-width: 900px) {

  header{
      
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
  }

  // .contenedorNoticias div{
  //     display: flex;
  //     flex-direction: column;
  //     background-color: peru;
  //     padding: 50px;
      
  // }

  .footer{
      background-color: darksalmon;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }


  .contenedorNoticias{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
  }   
  
  .obras {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  // .tituloFooter{
  //     padding: 30px 0px 30px 35px;
  // }

  .barraContactos{
      display: grid;
      grid-template-columns: 1fr 1fr;
     
  
     }

    

  .listahorarioPrecio{
      width: 250px;
      
  }
  .obras {
      grid-template-columns: 1fr ;
      
  }


  
}



@media (max-width:760px){
  .barraContactos{
      display: grid;
  grid-template-columns:  1fr;
  }

  .listaBoletos{
      display: grid;
      grid-template-columns: 1fr;
      
  }
  .listahorarioPrecio{
      justify-self: center;
  }

 


}
  

@media (max-width: 500px) {

  header{
      
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
  }

  // .contenedorNoticias div{
  //     display: flex;
  //     flex-direction: column;
  //     background-color: peru;
  //     padding: 50px;
  // }

  .footer{
      background-color: darksalmon;
      display: flex;
      flex-direction: column;
      
  }
  .contenedorNoticias{
      display: grid;
      grid-template-columns: 1fr ;
      
  }    

  .footerLogo{
  display: flex;
  justify-content: flex-start;  
  }

  .listaRedes{
      padding: 30px 0px  30px
  }

  .gmap_canvas {
      display: flex;
      align-items: flex-end;
      width: 300px 
  }

  .footerTexto{
  padding-left: 10px;
  font-size: 30px;
  height: 100px;
  width: 25%;
  }

  .containerContactos{
      display: grid;
      grid-template-columns: 1fr;
      
     }

     .listaExpo{
      padding-left:25px; 
      display: grid;
      grid-template-columns: 1fr;
  }
  .info{
      flex-direction: column;
      
  }




  .barraContactos{
      display: grid;
      
      
  
     }

     .listadosContactos{
         padding: 10px;
     }

     .listaBoletos{
      display: grid;
      grid-template-columns: 1fr;
      
      padding: 30px;
      align-items: center;
      }
      

      .Eventos{
          width: 250px;
          height: 300px;
      }
      .eventoImagen{
          display: flex;
          justify-content: center;
      }
      .eventoBoton{
          display: flex;
          justify-content: center;
      }
      

      .contactos{
          width: 250px;
      }

      .comentario{
          width: 250px;
      }

      .containerObras img{
          height:300px ;
          width: 250px;
      }

      
      .containerObras figure .txt p{
          margin: 100px;
          transition: all 500ms ease-out;
          -moz-transition: all 500ms ease-out ;
          -o-transition: all 500ms ease-out; 
          -webkit-transition: all 500ms ease-out; 
      }


  
  
}




/* contactos */

.barraContactos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:#F0FFC2 ;
  padding: 10px;

 }

 .tituloContacto{
  padding-left: 20px;
 }

 .tituloContactos{
     background-color: #F0FFC2 ;
     padding: 25px 0px 25px 0px;
     margin: 0%;
 }

 .nombreContacto{
  height: 20px;
  width: 250px;
  border-color: sienna ;
 }

 .mailContacto{
  height: 20px;
  width: 250px;
  border-color: sienna;
 }

 .mensajeContacto{
  padding: 60px;
  height: 20px;
  width: 250px;
  border-color: sienna;
 }

 
/* fin de contactos */



/* eventos */

.tituloEventos{
  padding: 20px;
  background-color:#F0FFC2  ;
  margin: 0%;
}

.parrafoEventos{
  background-color:#F0FFC2; 
  padding: 30px;

}

.listaExpo{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F0FFC2;
}

.btn-outline-danger {
  margin: 0px 0px 0px 12px;
  
}

.info{
  
  border-width: 2px;
  border-style: solid;
  width: 300px;
  margin-bottom: 50px;
}

/* fin de eventos */





/* Boletos */

.tituloBoletos{
  margin: 0%;
  background-color:#F0FFC2 ;
}

.listaBoletos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:  #F0FFC2;
  padding: 30px;
}

.listaUno {
  border-style: solid;
  border-width: 2px;
  width: 500px;
  padding-left: 10px;
  margin-left: 10px;
 }

 .listahorarioPrecio {
  border-color: sienna;
  border-style: solid;
  border-width: 2px;
  width: 450px;
  padding: 10px;
  margin: 10px;
 }

/* fin de Boletos */




/* obras */

.obras{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.parrafoObras{
  background-color:#F0FFC2; 
  padding: 30px;
}

.containerObras{
  background-color: rgb(219, 216, 216);
  padding: 30px 15px;
}


.containerObras img{
  height:400px ;
  width: 350px;
}

.containerObras{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(219, 216, 216);
}

.containerObras figure{
  position: relative;
  height: 350px;
  width: 350px;
  overflow: hidden;
  border-radius: 100px;
  
}

.containerObras figure img{
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  
}

.containerObras figure .txt{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(156, 157, 218, 0.452);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  
  
}

.containerObras figure:hover{
  box-shadow: 20px 15px 25px
  #323b5583;
  
  
}

.containerObras figure:hover > .txt{
  opacity: 1;
  visibility: visible;
  
}

.containerObras figure .txt p{
  margin: 150px;
  transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out ;
  -o-transition: all 500ms ease-out; 
  -webkit-transition: all 500ms ease-out; 
}


/* fin de obras */

/* Titulos */

h1 {
  color: rgb(192, 128, 168);
  font-family: 'Abril Fatface', cursive;
}

h2{
  color: sienna;
  font-family: 'Abril Fatface', cursive;
}

h3 {
  color: sienna;
   font-family: 'Abril Fatface', cursive;
}
h4 {
  color: sienna;
   font-family: 'Abril Fatface', cursive;
}

h5 {
  color: sienna;
   font-family: 'Abril Fatface', cursive;
   padding: 30px 0px 30px 0px
}



@media (max-width: 1300px){
  .obras {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      
  }
}

@media (max-width: 900px) {


  
  .obras {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }



  .barraContactos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color:#F0FFC2 ;
  
     }

    

  .listahorarioPrecio{
      width: 250px;
      
  }
  .obras {
      grid-template-columns: 1fr ;
      
  }

  
}
@media (max-width:760px){
  .barraContactos{
      display: grid;
  grid-template-columns:  1fr;}
}
@media (max-width:650px){
  .listaExpo{
      display: grid;
       grid-template-columns: 1fr; 
  }
}
@media (max-width: 500px) {

   

  .containerContactos{
      display: grid;
      grid-template-columns: 1fr;
      
     }

     .listaExpo{
      padding-left:25px; 
      display: grid;
      grid-template-columns: 1fr;
  }

  .barraContactos{
      display: grid;
      
      background-color:#F0FFC2 ;
  
     }

     .listadosContactos{
         padding: 10px;
     }

     .listaBoletos{
      display: grid;
      grid-template-columns: 1fr;
      background-color:  #F0FFC2;
      padding: 30px;
      align-items: center;
  }

     
  
  
}
