@mixin logosNav ($posicion, $direccion, $contenido){
    display: $posicion;
    flex-direction: $direccion;
    justify-content: $contenido;
}
    @mixin boletosLista ($posicion, $columna) {
        display: $posicion;
        grid-template-columns: $columna;
    }
