$colorNav:rgb(231, 209, 180);
$navPalabra:rgba(116, 112, 112, 0.904);
$bcHover:rgba(238, 221, 202, 0.863);
$bcDavid:rgba(245, 190, 119, 0.685);
$titulos:  #525E75;
$espaciosTitulos:30px 0px 30px 0px;
$titulosVarios:#181D31;