.tituloContactos{
      
    padding: 25px 0px 25px 0px;
    margin: 0%;
}

.barraContactos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;

    .contactosDos{
        padding: 30px;
    }
}

@media (max-width:760px){
    .barraContactos{
        display: grid;
        grid-template-columns:  1fr;
    }
}

@media (max-width: 500px){
    .barraContactos{
        display: grid;
        .contactos{
            width: 250px;
            .listadosContactos{
                padding: 10px;
            }
        }
    }
}