@import "../base/variables";
@import "../base/listas";

.tituloContactos{
      
    margin:2%;
    margin-top: 1%;
    color: $titulos;
    font-family:'Times New Roman', Times, serif;
}


.barraContactos{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: nth($size , 2 );

    .listaunoContactos{
        display: grid;
        justify-content: center;
        border-right-width: 1px;
        border-right-style: dotted;
        
    
    .tituloLista{
        color: $titulosVarios;
        font-family:'Times New Roman', Times, serif;
        margin-top:5%;
        
    }

    .listaInfo{
        color: $titulosVarios;
        padding: $espaciosTitulos;
        font-family:'Times New Roman', Times, serif;
    
    }

    .contactosDos{
        padding: nth($size , 6 );
    }
    .listaMensaje{
        min-height: calc(1.5em + .5rem + 2px);
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
        width: 50%;
    }
    .botonContacto{
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
    }
}   
}

@media (max-width:760px){
    .barraContactos{
        display: grid;
        grid-template-columns: 1fr;

        .listadosContactos{
            padding: 10px;
        }

    }
        
}

@media (max-width: 500px){

   

    .barraContactos{
        display: grid;
        .comentario{
            width: 250px;
            
        }
    }


}