.tituloEventos{
    padding: 20px;
    margin: 0%;
}

.listaExpo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .Eventos{
        border-color: rgb(224, 221, 216);
        border-style:solid;
        border-width: 1px;
        width: 450px;
        padding: 10px;
        margin: 10px;
       
        .info{
            display: flex;
            
            border-width: 2px;
            
            margin-bottom: 50px;

            .eventoImagen{
                display: flex;
                justify-content: center;

                .porcelana{
                    width: 90px;
                    height: 90px;

                     .parrafoEvento{
                        text-align:center;
                    }
                    //     .btn-outline-danger {
                    //             margin: 0px 0px 0px 12px;
                    //  }  }
                }
            }
        }
    }
}

@media (max-width: 934px){
    .Eventos{
        justify-self: center;
    }
}

@media (max-width: 500px){
    .listaExpo{
        padding-left:25px; 
        display: grid;
        grid-template-columns: 1fr;
    
        .Eventos{
            width: 250px;
            height: 300px;

            .info{
                flex-direction: column;

                .eventoImagen{
                    display: flex;
                    justify-content: center;

                    .btn-outline-danger{
                        display: flex;
                        justify-content: center;
                    }
                }
                
            }
        }
        
    }
}