@import "../base/variables";
@import "../base/listas";
@import "../base/maps";


.tituloEventos{
    padding: nth($size , 3 );
    margin: 0%;
    color: $titulos;
    font-family:'Times New Roman', Times, serif;
}


.listaExpo{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .Eventos{
        border-color: map-get($eventos , bordeColor );
        border-style:map-get($eventos , estiloBorde );
        border-width: map-get($eventos , anchoBorde );
        width: map-get($eventos , ancho );
        padding: nth($size , 2 );
        margin: nth($size , 2 );
       
        .tituloEvent{
            color: $titulosVarios;
            font-family:'Times New Roman', Times, serif;
        }
        

        .info{
            display: flex;
            
            border-width: 2px;
            
            margin-bottom: nth($size , 5 );

            .eventoImagen{
                display: flex;
                justify-content: center;

                .porcelana{
                    width: nth($size , 4 );
                    height: nth($size , 4 );
                    }
                   
             }
            
             .parrafoEvento{
                text-align:center;
            }

            .botonEventos{
                color: #6c757d;
                border-color: #6c757d;
            }
        }
    }
}

@media (max-width: 938px){


    .listaExpo{
                display: grid;
                 grid-template-columns: 1fr ;
                align-content: center;   

                .Eventos{
                        justify-self: center;
                    }
            }
}

@media (max-width: 500px){
    .listaExpo{
        
        display: grid;
        grid-template-columns: 1fr;
    
        .Eventos{
            width: 250px;
            height: 300px;

            .info{
                flex-direction: column;

                .eventoImagen{
                    display: flex;
                    justify-content: center;
                }
                .eventoBoton{
                    display: contents;
                    
                }
                
            }
        }
        
    }
}