@import "../base/maps";
@import "../base/variables";

.tituloFooter{
    margin: 0%;
    padding: map-get($footer , tituloPd );
    color: $titulos;
    font-family:'Times New Roman', Times, serif;
}

footer{
    
    .listaRedes{
        display: flex;
        

        li {
             margin: map-get($footer , listaMargen );
             list-style:  map-get($footer , estiloLista );   
            }

      }
        
    
}