@import "../base/maps";
@import "../base/variables";

.tituloFooter{
    
    padding: map-get($footer , tituloPd );
    // color: #99A799;
    font-family:'Times New Roman', Times, serif;
    background-color: #94B3FD;
    border-top-width: 4px;
    border-top-style: solid;
    margin-bottom: 0px;
    border-color: #B4FE98;
}

footer{
    background-color: #94B3FD;
    padding: 2%;
    
    .col{
        padding-left: 5%;
    }
    
    .listaRedes{
        display: flex;
        justify-content: center;
        

        li {
             margin: map-get($footer , listaMargen );
             list-style:  map-get($footer , estiloLista );   
            }

            .iconosFooter{
                font-size: 30px;
                color: black;
            }
      }
        
      @media (max-width: 500px){
          #footerContainer{
              display: flex;
              flex-direction: column;

              .mapa{
                  display: flex;
                  justify-content: center;
              }
          }
      }
    
}