@import "../base/maps";
@import "../base/variables";

.tituloFooter{
    
    padding: map-get($footer , tituloPd );
    color: $titulos;
    font-family:'Times New Roman', Times, serif;
    background-color: $colorNav;
    border-top-width: 1px;
    border-top-style: solid;
}

footer{
    background-color: $colorNav;
    
    .col{
        padding-left: 5%;
    }
    
    .listaRedes{
        display: flex;
        justify-content: center;
        

        li {
             margin: map-get($footer , listaMargen );
             list-style:  map-get($footer , estiloLista );   
            }

      }
        
    
}