@import "../base/variables";
@import "../base/listas";
@import "../base/extends";





header{

    @extend %disposicion;
    border-block-end-style:groove;
    border-color: #C69B7B;
    background-color: #95D1CC;
    border-bottom-width: 4px;
    
    .imagenHeader{
        margin-left: 1.5%;

    

        .headerImg{
            
            padding: 5px;

            .logoNav{
                background-color:#FFFCDC;
                width: 120px;
                height: 120px;
                border-radius: 10px;
                margin-left: 10%;
                
                
            }
        }
    }
    




    .navbarList{
        
        justify-content: space-evenly;

        .navBar{
            width: 55vw;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            border-width: nth($size , 1 );
            padding: nth($size , 2 );
            border-color: $colorNav ;
            border-radius:nth($size , 3 ) ;
            margin: 10px;

            .enlaceNav{
                text-decoration: none;
                font-family:'Times New Roman', Times, serif;
                margin: 2%;
               li{
                  list-style: none;           
                  padding: 10px;
                //   color: #072227;  
                color: white;
                

                      &:hover {
                      
                    // background-color:#FFFCDC ;
                    background-color: #94B3FD;
                    transition: all 0.2s;
                    border-radius: 8px;
                    transform: scale(1.2);
                    -moz-transition: all 0.5s;
                    -o-transition:  all 0.5s;
                    -webkit-transition:  all 0.5s;
                    -webkit-transform:scale(1.2) ;
                    -moz-transform:scale(1.2) ;
                    -o-transform:scale(1.2) ;
                  }

                }

            
                
            }
        }

    
    }

    .navbarMenu{
        margin-right: 5%;
        padding-top: 25px;
        .navLabel{
            display: none;
            font-size: 200%;
            margin-left: 5px;
        }
        .navMenu, .navInput{
            display: none;
        }


    }

}

.carrusel{
    display: flex;
    justify-content: center ;
    padding: 20px;

    .carruselContainer{
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 900px){
    .navLabel{
        display: block!important;
        
        .logoMenu{
            background-color: #C8E3D4;
            border-radius: 5px;
            color: white;
            margin-left: 5px;
        }
        
    }
    .navbarList{
        display: none;
    } 
    .imagenHeader{
        display: flex;
        flex-direction:column ;
        margin-right: 15%;

      
    }

    header{
        
        
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        

    }

    .navInput:checked + .navMenu{
        width: 100px;
        height: 200px;
        display: block;
    }


    .navMenu{
        
        .navBar{
            list-style: none;
            background-color: #94B3FD;
            border-radius: 10px;
            margin-left: 5px;
            width: 150px;
            padding-left: 30px;
            .enlaceNav{
                color: white;
                text-decoration: none;
                font-family: Georgia, 'Times New Roman', Times, serif;
                
            }
        }
    }
}


