@import "../base/variables";
@import "../base/listas";
@import "../base/extends";
@import "../base/mixin";

.tituloIndex{
    color: $titulos;
    font-family:'Times New Roman', Times, serif;
    margin-left: 35%;
    margin-top: 2%;
    }


header{

    @extend %disposicion;
    border-block-end-style: double;
    border-color: $navPalabra;
    background-color:beige;
    
    .imagenHeader{
        margin-left: 1.5%;

    // display: flex;
    // align-items: flex-start;

        .headerImg{
            // width: 25px;
            // height: 25px;
            padding: 25px 5px 5px 5px ;

            .david{
                background-color:$bcHover;
                width: 70px;
                height: 70px;
                border-radius: 10px;
                margin-left: 10%;
                
                
            }
        }
    }
    .tituloImagen{
        
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(69, 9, 73);
        // margin-top: 60%;
        font-size: 70%;
    }

// }


    .navbarList{
        display: flex;
        justify-content: space-evenly;

        .navBar{
            width: 55vw;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            // border-style: double solid solid solid;
            border-width: nth($size , 1 );
            padding: nth($size , 2 );
            border-color: $colorNav ;
            border-radius:nth($size , 3 ) ;
            margin: 10px;

            .enlaceNav{
                text-decoration: none;
                font-family:'Times New Roman', Times, serif;
                margin: 2%;
               li{
                  list-style: none;           
                  padding: 10px;
                  color: $navPalabra;  
                //   margin: 2%;

                      &:hover {
                      
                    background-color:$bcHover ;
                    transition: all 0.2s;
                    border-radius: 8px;
                    transform: scale(1.2);
                    -moz-transition: all 0.5s;
                    -o-transition:  all 0.5s;
                    -webkit-transition:  all 0.5s;
                    -webkit-transform:scale(1.2) ;
                    -moz-transform:scale(1.2) ;
                    -o-transform:scale(1.2) ;
                  }

                }

            
                
            }
        }

    
    }

    .navbarLogos{
        margin-right: 5%;
        padding-top: 25px;
        .navLabel{
            display: none;
            font-size: 200%;
            margin-left: 5px;
        }
        .navMenu, .navInput{
            display: none;
        }
        .navInput:checked + .navMenu{
            width: 100px;
            height: 200px;
            display: block;
        }

    }


    .navbarLogos{
        @include logosNav (flex,row,space-around);

        .logos{
            font-size: 30px;
            padding: 30px;
            color: black;
        }
           
        

    }

}

.carrusel{
    display: flex;
    justify-content: center ;
    padding: 20px;

    .carruselContainer{
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 500px){
    .navLabel{
        display: block !important;
    }
    .imagenHeader{
        display: flex;
        flex-direction:column ;
        margin-right: 15%;

        .tituloImagen{
            margin-left: 25%;
        }
    }

    header{
        
        
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        

        .navbarList{
            display: none;

        }    
    }

    .logos{
        font-size: 18px;
        padding: 5px;
    }
}


