@import "../base/variables";

main{
    
    .tituloNoticias{
        color: $titulos;
        // padding: 10px;
        font-family:'Times New Roman', Times, serif;
        margin:5%
    }

    .noticias{
        // display: grid;
        // justify-content: center;
        margin: 5%;
    

    // .tituloNoticias{
    //     color: $titulos;
    //     padding: 10px;
    //     font-family:'Times New Roman', Times, serif;
    // }

    .col{
        padding-left: 10px;
        // display: flex;
        // justify-content: center;
        margin: 1%;

        .anchoTarjeta{
            width: 18rem;

            .botonNoticias{
                color: #212529;
                border-color: #212529;
                &:hover{
                    color: #fff;
                    background-color: #212529;
                    border-color: #212529;
                }
            }

        }
        .cardImg{
        
            width: 285px;
            height: 250px;
    
        }
 }

}
}

@media (max-width: 717px){

    .noticias{
        display: grid;
        grid-template-columns: 1fr;
        
            .col{
                display: flex;
                justify-content: center;

                .cardImg{
                    width: 250px;
                    height: 200px;
                }
            }
    }
}

@media (max-width: 500px){

    .noticias{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

}